.user-info__edit {
    background-color: transparent;
    color: white;
    cursor: pointer;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 1.25;
    margin-top: 25px;
    width: 38px;
    height: 18px;
}